#commentSection {
    max-width: 400px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
    max-height: 1000px;
    background-color: rgb(249, 250, 251);
    margin: 10px;
}

.infoCell {
    color: gray;
    font-size: small;
    text-align: right;
    min-width: 50px;
}

.contentCell {
    font-size:medium;
    font-weight: 300;
}

.messageRow {
    
}

#commentsList {
    border-collapse: separate;
    border-spacing: 1em 1em;
    width: 100%;
}

#commentSectionName {
    font-size: 50px;
}

#commentSectionInput {
    width: 80%;
}

#commentSectionButtons>button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: box-shadow 0.3s ease-in-out;
    color: rgba(59, 59, 59, 0.767);
    cursor: pointer;
    font-size: small;
    font-weight: 700;
    padding: 9px;
    margin: 10px 5px;
    border-radius: 100px;
}

#commentSectionButtons>button:active {
    box-shadow: none;
}

#commentSection>input {
    -webkit-appearance: none;
    box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.2), -4px -4px 9px 0 rgba(255, 255, 255, 0.55);
    border: none;
    text-decoration: none;
    display: inline-block;
    color: rgba(59, 59, 59, 0.767);
    cursor: pointer;
    padding: 9px;
    margin: 6.5px;
    font-size: 100%;
}

@media only screen and (max-width: 650px) {

    #commentSection {
        max-width: 1000px;
        margin: 10px 0;
    }
  }
